.srct-position {
    margin-top: -40px;
    /* z-index: 1; */
    /* float:unset; */
}

.srct-image-position {
    margin-bottom: 200px;
}

.srct-btn-style {
    background-color: white;
    border-style: none;
    color: blue;
    font-size: 0.8rem;
    padding:7px 17px 7px;
    font-weight: bold;
}

.srct-font-style {
    font-size: 0.8rem;
    color: grey;
}

.srct-textbox-spacing {
    padding: 20px 15px 20px;
}

.srct-image-spacing {
    padding: 50px 15px 50px;
}

.srct-imagebox-width {
    width: 247px;
}

.srct-imagebox-width {
    width: 308px;
}

@media (min-width: 576px) {
    
}


@media (min-width: 768px) {
    .srct-btn-style {
        background-color: white;
        border-style: none;
        color: blue;
        font-size: 0.8rem;
        padding:7px 17px 7px;
        font-weight: bold;
    }

    .srct-textbox-width {
        width: 500px;
    }

    .srct-imagebox-width {
        width: 500px;
    }

    .srct-txt-position {
        margin-top: 15px;
    }

    .srct-image-position {
        margin-bottom: 300px;
    }
    
   
}

@media (min-width: 992px) {
    
}

@media (min-width: 1200px) {
    .srct-w {
        width: 80%;
    }

    .srct-spacing {
        padding-top: 10px;
        padding-bottom: 19px;
    }

    .srct-position {
        margin-top: -40px;
        /* z-index: 1; */
        /* float:unset; */
    }

    .srct-fs-1 {
        font-size: 0.83rem;
    }

    .srct-fs-2 {
        font-size: 0.95rem;
    }

    .srct-txt-size {
        height: 32px;
    }

    .srct-txt-position {
        margin-top: 15px;
    }

    .srct-image-position {
        margin-bottom: 300px;
    }

    .srct-btn-style {
        background-color: white;
        border-style: none;
        color: blue;
        font-size: 0.8rem;
        padding:6px 17px 6px;
        font-weight: bold;
    }

    .srct-btn-position {
        margin-top: 23px;
    }

    .srct-imagebox-width {
        width: 308px;
    }

    
    
}