
.srcrt-font-style-1 {
    font-size: 0.8rem;
    color: grey;
    
}

.srcrt-font-style-2 {
    font-size: 0.9rem;
    color: grey;
}

.srcrt-font-style-3 {
    font-size: 0.85rem;
    color: grey;
}

#kapasitas::before {
    content: url(../assets/fi_users.png);
    margin-right: 10px;
}

.srcs-padding-1 {
    padding: 50px 0px 50px;
}

.srcrt-text-width {
    width: 250px;
}

.srcs-spacing-margin {
    margin-top: -70px;
}

.srcs-spacing-margin-2 {
    margin-bottom: 200px;
}






@media (min-width: 576px) {
    .srcrt-text-width {
        width: 340px;
    }
}


@media (min-width: 768px) {
    .srcrt-flex-width {
        width: 97%;
    }

    .srcrt-text-width {
        width: 180px;
    }

    .srcrt-flex-gap {
        gap: 25px;
    }

    .srcrt-spacing-1 {
        padding-left: 0px;
    }

    

   
}

@media (min-width: 992px) {
    .srcrt-flex-width {
        width: 75%;
    }

    .srcrt-text-width {
        width: 180px;
    }

    .srcrt-flex-gap {
        gap: 25px;
    }

    .srcrt-spacing-1 {
        padding-left: 0px;
    }
   
}

@media (min-width: 1200px) {
    .srcs-spacing-margin {
        margin-top: -70px;
    }

    .srcs-spacing-margin-2 {
        margin-bottom: 200px;
    }

    .srcrt-flex-width {
        width: 75%;
    }

    .srcrt-text-width {
        width: 180px;
    }

    .srcs-padding-1 {
        padding: 40px 0px 40px;
    }

    .srcrt-flex-gap {
        gap: 25px;
    }

    .srcrt-spacing-1 {
        padding-left: 64px;
    }
}