.wyu-flex1-space {
    padding-top: 15px;
    margin-bottom: 50px;
}

.wyu-font-bold-1 {
    font-weight: bold;
}




@media (min-width: 576px) {
    
}


@media (min-width: 768px) {
   
    
}

@media (min-width: 992px) {
  
}

@media (min-width: 1200px) {
   
}